*[data-origin-value]:after {
  content: attr(data-origin-value);
  display: inline-block;
  font-size: 12px;
  color: rgb(119, 134, 108);
  white-space: nowrap;
}

.ls-detail_price {
  position: relative;
}

.ls-detail_price:after {
  display: block;
  position: absolute;
  top: calc(100% - 4px);
  right: 0;
}

.title > .price:after {
  margin-left: 8px;
}

.item_title_price:after {
  margin-left: 8px;
  font-size: 14px;
}

.ls-photo_price:after {
  font-size: 11px;
  margin-left: 5px;
  font-weight: normal;
}

.ls-short_price:after {
  content: "";
  display: none;
}

.ls-short_price:before {
  content: attr(data-origin-value);
  display: inline-block;
  color: rgb(119, 134, 108);
  margin-right: 5px;
  font-weight: normal;
  white-space: nowrap;
}
